beautifulsoup4

dicttoxml==1.7.4

Flask==1.1.1
Flask-Admin
Flask-Bcrypt

gunicorn==20.0.4

Jinja2==2.11.2

lxml

psycopg2==2.8.6
psycopg2-binary==2.8.6

python-dateutil==2.8.1
python-dotenv
python-editor==1.0.4

requests==2.24.0

urllib3==1.25.10

xmltodict==0.12.0

